.thumbnail img {
    width: 100%;
    height: 60%;
}

.thumbnail {
    height: 95%;
    width: 100%;
}

.thumbnail.camption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}
body {
    background-color: gainsboro
}
.container-fluid {
    background-color: azure
}